<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
    <!-- there has to be a for loop for the comment to work -->
    <!-- post , form -->
    

 
  <li><a class="active" href="{% url 'first' %}">Return</a></li>
  <!-- this needs an id - its the same navbar that shows up on every post - t-->

  <li><a class="active" href="">Add Comment</a></li> <!-- this needs an id  -->
 

</ul>




</body>
{% block content %} 
{% endblock %}
</html>