<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="tryit.asp-filename=trycss_navbar_horizontal_black.html#home">Logout</a></li>
  <li><a href="tryit.asp-filename=trycss_navbar_horizontal_black.html#news">Blog</a></li>
  <li><a href="tryit.asp-filename=trycss_navbar_horizontal_black.html#contact">Notifications</a></li>
  <li><a href="tryit.asp-filename=trycss_navbar_horizontal_black.html#about">More</a></li>
</ul>

</body>
{% block content %} 
{% endblock %}
</html>