<!-- this should be comment.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload image</title>
    {% extends 'functions/comment_navbar.html' %}
    {% block content %}
</head>
<body>
    <!-- the action is what it does with the form after the submit button is pressed-->
    <!-- when the form is submitted just save the data -->
    <!-- make this a regular form and store the information -->


    <form enctype="multipart/form-data"  method="POST" action="">
        {% csrf_token %}
        {{form}}
        <button type="submit">Publish</button>
    </form>

    
</body>
{% endblock content %}
</html>