






<!DOCTYPE html>
<html lang="en">
    {% extends 'functions/navbar.html' %}
    {% block content %}
<head>
    <title>Document</title>
</head>
<body>


{% for i in post %}



<h1><a href="{% url 'inspect' i.id %}">{{ i.title }}</a></h1> <!-- add the inspect with the id here -->
<h3> {{ i.description }} </h3>



{% if user.is_authenticated %}

                
<h3>  <a href="{% url  'comment' %}"> Comment</a></h3> <!-- this needa an id tag -->

                {% else %}

<h3 > <a href="{% url  'login' %}">Login to comment </a></h3>
           
                {% endif %}
<hr>
{% endfor %}
<!-- comment is related to the related name in the model -->
{% for i in Comment %} <!-- the comment needs a forighn key -->

{% endfor %}
</body>
{% endblock content %}
</html>