


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>






    
</body>

</html>



<li><a class="active" href="{% url 'feed:first' %}">Return</a></li>


{% block content %}

            
        <!-- this is not displaying -->
        <br>
        
            <h1>
                <center> {{ post.title }}</center>
            </h1>
            
            <h2> <center> {{ post.description }} </center></h2>

           

    
    <br>

    
        
 

    

        <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div class="row">
                <div class="col-sm-12 pt-2" >
                    <div class="row pt-2">
                        <div class="col-sm-7"> 
                            <!-- <h4  class="text-dark" style="width:90%">Reviews</h4> -->
                      
                        



                                                        
                                <form action="" method="POST" >
                                    {% csrf_token %}
                                    {{form}}                                                                                                                       
                                    <button type="submit">Publish</button>
                                       
                                </form>

                                    






                                        {% for comment in post.comment.all %}            
                                        <!-- if user is suthenticated the author is " Me "-->
                                        <h4>{{ comment.author }}</h4>
                                        <p>{{ comment.date_added }}</p>
                                        <h2>{{ comment.comment }}</h2>
                                        {% endfor %} 

      
                                        <!-- like function -->
                                        <!-- feed id the app name -->
                                        <!-- figure out how to get an id in a url  -->
                                        <!-- its different because this one has an id and the other does not -->
                                        <form action="{% url 'feed:like-post'.id %}" method="POST" class=" ui form "> <!-- id missing in the action -->
                                            {% csrf_token %}
                                            <!-- obj has to be replaced -->
                                            <input type="hidden" name="post_id" value = "{{obj.id}}">
                                            <!-- if the user is not in the list of people that has liked the post -->
                                            {% if user not in obj.liked.all %}
                                        
                                            <button class = " ui button positive " type="submit "> like </button>
                                        
                                            {% else %}
                                        
                                            <button class = " ui button negitive " type="submit "> Unlike </button>
                                        
                                        
                                            {% endif %}
                                        
                                        </form>

                                        <hr>                                                                                                                                                                                        
                                                               
                                    </div>
                                 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>




{% endblock %}



