


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>






    
</body>

</html>



<li><a class="active" href="{% url 'feed:first' %}">Return</a></li>


{% block content %}

            
        <!-- this is not displaying -->
        <br>
        
            <h1>
                <center> {{ post.title }}</center>
            </h1>
            
            <h2> <center> {{ post.description }} </center></h2>

           

    
    <br>

    
        
 

    



                                                        
                                

                                    





                                        {% for comment in post.comment.all %}            
                                        <!-- if user is suthenticated the author is " Me "-->
                                        <h4>author :{{ comment.author }}</h4>
                                        <p> date added : {{ comment.date_added }}</p>
                                        <h2>{{ comment.comment }}</h2>
                                        <!-- -->
                                       <h3>like count: {{comment.liked.all.count}}</h3>   <!-- this is liking the post not the comment its self - this is how it worked in the example  -->
                                        <h4> <a href="">reply</a> <br> <a href="">favorites</a></h4>
                               
                                        

                                            
                                                                             <!-- like function -->
                                            <!-- feed is the app name -->
                                            <!-- like-post is the path name -->
                                            <!-- like.id is the path id  -->
                                            <!--this should work : action="{ url 'feed:like-post' like.id }"  add % before and after the brackets  -->

                                        <form action="" method="POST" class=" ui form "> 
                                            {% csrf_token %}
                                            

                                            
                                             

                                            <!-- if the user is not in the catagory of users that have likes the comment change the button -->                                      
                                            {% if user not in comment.liked.all %}                                         
                                            <button class = " ui button positive " type="submit "> like </button>                                        
                                            {% else %}                                       
                                            <button class = " ui button negitive " type="submit "> Unlike </button>                                                     
                                            {% endif %}
                                        
                                        </form>

                                        <hr>

                                   
                                        {% endfor %} 
                                   
                                    




{% endblock %}



